/* p */
@font-face {
  font-family: 'openSansReg';
  src: url(./resources/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

/* h1 */
@font-face {
  font-family: 'ubuntuReg';
  src: url(./resources//Ubuntu/Ubuntu-Regular.ttf);
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

* {
  font-family: 'openSansReg';
  color: black;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-family: 'ubuntuReg';
}

hr {
  border: 1px solid red;
}

#content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    'nav'
    'gameBoard'
  ;
}