#gameBoard {
    grid-area: gameBoard;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
        'playArea'
        'transport'
    ;
}

#playArea {
    grid-area: playArea;
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    place-items: center center;
    min-width: 100vw;
}

#cards {
    display: flex;
    flex-flow: row nowrap;
    place-content: center center;
    place-items: center center;
    background: rgba(229, 169, 169, 1);
    border-radius: 5px;
    min-width: 80%;
    min-height: 80%;
    box-shadow: 10px 10px 8px 5px rgba(176, 131, 131, 0.45);
    padding: 10px;
}

#cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'card0 card1'
        'card2 card3'
    ;
    width: 300px;
    height: 300px;
    padding: 10px;
}

#card0 {
    grid-area: card0;
}

#card1 {
    grid-area: card1;
}

#card2 {
    grid-area: card2;
}

#card3 {
    grid-area: card3;
}

.card {
    width: 136px;
    height: 136px;
    border-radius: 10px;
}

#transport {
    grid-area: transport;
    display: flex;
    flex-flow: row wrap;
    place-content: center center;
    place-items: center center;
    min-width: 100vw;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid rgba(175, 77, 152, 1);
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}