#gameBoard {
    grid-area: gameBoard;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 1fr;
    grid-template-areas:
        'playArea'
        'transport'
    ;
}

#playArea {
    grid-area: playArea;
    display: flex;
    flex-flow: column wrap;
    place-content: center center;
    place-items: center center;
    min-width: 100vw;
}

#cards {
    display: flex;
    flex-flow: row nowrap;
    place-content: center center;
    place-items: center center;
    background: rgba(229, 169, 169, 1);
    border-radius: 5px;
    min-width: 80%;
    min-height: 80%;
    box-shadow: 10px 10px 8px 5px rgba(176, 131, 131, 0.45);
    padding: 10px;
}

#cardContainer {
    display: flex;
    flex-flow: row wrap;
    place-content: space-evenly space-evenly;
    place-items: space-evenly space-evenly;
    width: 300px;
    height: 300px;
    padding: 10px;
}

.card {

    width: 136px;
    height: 136px;
    border-radius: 10px;
}

#transport {
    grid-area: transport;
    display: flex;
    flex-flow: row wrap;
    place-content: center center;
    place-items: center center;
    min-width: 100vw;
}